@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --cup-red: #B40A02;
  font-family: 'Exo 2', sans-serif;
}

body {
  overflow: hidden;
  background-color: black;
}

.page-section {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem clamp(1rem, 5%, 3rem);
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animate-moveUp {
  animation: moveUp 20s linear infinite;
}

@layer base {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
  }

  .flex-column {
    @apply flex flex-col
  }

  .text-cup-red {
    @apply text-[var(--cup-red)]
  }

  .border-cup-red {
    @apply border-[var(--cup-red)]
  }

  .bg-cup-red {
    @apply bg-[var(--cup-red)]
  }
}